.DS_Store
.vscode
.ipynb_checkpoints
__pycache__

darknet/cfg/*
!darknet/cfg/.gitkeep

data/*
!data/.gitkeep

results/*

detect_ball/yolov7/models/yolov7-e6e.pt

video_track/ByteTrack/pretrained/bytetrack_x_mot17.pth.tar
video_track/ByteTrack/build/temp.linux-x86_64-cpython-39/.ninja_log
video_track/ByteTrack/build/temp.linux-x86_64-cpython-39/.ninja_deps

*.mp4
*.pickle

dataset/*
!dataset/.gitkeep

models/*
!models/.gitkeep

LICENSE
green.jpg
test/gray/*
test/graytest2/
test/graytest3/
test/graytest4/